@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: lightgreen;
}
body, .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper{
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
    width: 600px;
    border-radius: 20px;
    background-color: wheat;

}

h3, h1{
    text-transform: uppercase;
    color: brown;
}
h1{
    font-size: 80px;
}
h3{
    font-size: 25px;
    text-align: center;
}